<!-- Componentler arasında bağlantı kullanmak istiyorsak href kullanılmaz.
    Çünkü bütün dosyalar her bağlantı değiştiğinde yeniden yüklenir.
    RouterModule ilgili component'e eklenerek routerLink kullanılır. 
-->

<app-basic-layout>
    <div class="d-flex flex-column justify-content-center align-items-center">
        <h1>Welcome</h1>
        <small>Out products are fresh!</small>
    </div>
    <section class="row mt-3">
        <aside class="col-3">
            <h1 style="font-size: 1.5rem;">Categories</h1>
            <app-category-list-group 
                [initialSelectedCategoryId]="selectedCategoryId"
                (changeSelect)="onChangeCategorySelect($event)"
            ></app-category-list-group>
            <!-- $event: Output'un verdiği değeri referans eder.-->
        </aside>
        <section class="col">
            <h1 style="font-size: 1.5rem;">Products</h1>
            <app-product-card-list [filterByCategoryId]="selectedCategoryId"></app-product-card-list>
        </section>
       
    </section>
</app-basic-layout>